@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    scroll-behavior: smooth;
    font-family: 'Nunico',sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --colorprincipal:#00B9C5;
    --colortexto:#fff;
    --colorfondo:#9c5b8d;
    --fuentegrande:3.2rem;
    --fuente-h2:1.30rem;
    --fuente-p:.9rem;
}

body{
    color: var(--colortexto);
    background: var(--colorfondo);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 160px;
    background: #fff;
}
.caja_logo{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.logo{
    color: var(--colorprincipal);
    font-weight: bold;
    font-size: 2.5rem;
}
.navegacion{
    display: flex;
}
.navegacion a{
    color: var(--colorprincipal);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}
.navegacion a:hover{
    color: var(--colorprincipal);
    transition: .4s;
}
#icono-menu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 5px 13%;
}

.inicio{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.1rem;
    align-items: center;
}
.img-inicio img{
    max-width: 100%;
    width: 700px;
    height: auto;
}
.txt-inicio h1{
    font-size: var(--fuentegrande);
    color: var(--colorprincipal);
}
.txt-inicio h2{
    font-size: var(--fuente-h2);
    margin: 1rem 0 2rem;
}
.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--colorprincipal);
    color: #fff;
    border-radius: .5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.boton:hover{
    transform: scale(1.1) translate(10px);
    transition: .4s;
}
.sobrenosotros{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2.5rem;
    align-items: center;
}
.sobrenosotros img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.sobren-txt span{
    color: var(--colorprincipal);
    font-weight: bold;
}
.sobren-txt h2{
font-size: var(--fuente-h2);
}
.sobren-txt p{
    margin: .8rem 0 1.8rem;
}


.titulo{
    text-align: center;
}
.titulo span{
    color:var(--colorprincipal);
    font-weight: bold;
}
.titulo h2{
    font-size: var(--fuente-h2);
}
.contenedor-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 2rem;
    align-items: center;
}
.contenedor{
    position:relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 2rem;
    border-radius: .5rem;
}
.contenedor{
    width: 220px;
    height: auto;
}
.contenedor img{
    width: 100%;
    height: 100%;
}